<%= form_with model: @form_model_attributes do |f| %>
  <section id='volume_range'>
    <div id='min_volume', align='center'>
      <p><strong><%= f.label :min_volume %></strong>
      <%= f.number_field :min_volume %>
      <%= @volume_range.errors.full_messages_for(:min_volume)[0] if @volume_range.errors %></p>
    </div>

    <div id='max_volume', align='center'>
      <p><strong><%= f.label :max_volume %></strong>
      <%= f.number_field :max_volume %>
      <%= @volume_range.errors.full_messages_for(:max_volume)[0] if @volume_range.errors %></p>
    </div>
  </section>

  <% @volume_range.weight_ranges.each_with_index do |wrange, index| %>
    <section id=<%= "weight_range_#{index + 1}" %>>
      <h2 align='center'><%= "Intervalo de peso #{index + 1}" %></h2>

      <%= f.fields_for :weight_ranges, wrange do |wrange_f| %>
        <div id='min_weight', align='center'>
          <p><strong><%= wrange_f.label :min_weight %></strong>
          <%= wrange_f.number_field :min_weight %>
          <%= wrange.errors.full_messages_for(:min_weight)[0] if wrange.errors %></p>
        </div>

        <div id='max_weight', align='center'>
          <p><strong><%= wrange_f.label :max_weight %></strong>
          <%= wrange_f.number_field :max_weight %>
          <%= wrange.errors.full_messages_for(:max_weight)[0] if wrange.errors %></p>
        </div>

        <div id='value', align='center'>
          <p><strong><%= wrange_f.label :value %></strong>
          <%= wrange_f.number_field :value %>
          <%= wrange.errors.full_messages_for(:value)[0] if wrange.errors %></p>
        </div>
      <% end %>
    </section>
  <% end %>

  <div id='submit_button', align='center'>
    <%= f.submit %>
  </div>
<% end %>
