<%= form_with model: @shipping_company do |f| %>
  <div id='brand_name'>
    <p><strong><%= f.label :brand_name %></strong>
    <%= f.text_field :brand_name %>
    <%= @shipping_company.errors.full_messages_for(:brand_name)[0] if @shipping_company.errors %></p>
  </div>

  <div id='corporate_name'>
    <p><strong><%= f.label :corporate_name %></strong>
    <%= f.text_field :corporate_name %>
    <%= @shipping_company.errors.full_messages_for(:corporate_name)[0] if @shipping_company.errors %></p>
  </div>

  <div id='registration_number'>
    <p><strong><%= f.label :registration_number %></strong>
    <%= f.number_field :registration_number %>
    <%= @shipping_company.errors.full_messages_for(:registration_number)[0] if @shipping_company.errors %></p>
  </div>

  <div id='email_domain'>
    <p><strong><%= f.label :email_domain %></strong>
    <%= f.text_field :email_domain %>
    <%= @shipping_company.errors.full_messages_for(:email_domain)[0] if @shipping_company.errors %></p>
  </div>

  <%= f.fields_for :address do |address_f| %>
    <div id='line1'>
      <p><strong><%= address_f.label :line1 %></strong>
      <%= address_f.text_field :line1 %>
      <%= @shipping_company.address.errors.full_messages_for(:line1)[0] if @shipping_company.errors %></p>
    </div>

    <div id='city'>
      <p><strong><%= address_f.label :city %></strong>
      <%= address_f.text_field :city %>
      <%= @shipping_company.address.errors.full_messages_for(:city)[0] if @shipping_company.errors %></p>
    </div>

    <div id='state'>
      <p><strong><%= address_f.label :state %></strong>
      <%= address_f.select :state, Address.states.keys %>
      <%= @shipping_company.address.errors.full_messages_for(:state)[0] if @shipping_company.errors %></p>
    </div>
  <% end %>

  <div id='submit_button'>
    <%= f.submit %>
  </div>
<% end %>
