<div id='page_title', align='center'>
  <h1>Transportadoras</h1>
</div>

<div id='register_link', align='center'>
  <p><strong><%= link_to 'Cadastrar transportadora', new_shipping_company_path %></strong></p>
</div>

<% if @shipping_companies.empty? %>
  <p>Não existem transportadoras cadastradas.</p>

<% else %>
  <table id='shipping_companies', align='center'>
    <tr id='table_header'>
      <th><strong>Nome fantasia</strong></th>
      <th><strong>Razão social</strong></th>
      <th><strong>Domínio de e-mail</strong></th>
      <th><strong>CNPJ</strong></th>
      <th><strong>Endereço</strong></th>
    </tr>

    <% @shipping_companies.each do |company| %>
      <tr id=<%= company.brand_name.gsub(/\s/, '_') %>>
        <td><%= link_to company.brand_name, company %></td>
        <td><%= company.corporate_name %></td>
        <td><%= company.email_domain %></td>
        <% number = company.registration_number.to_s %>
        <td><%= "#{number[0..1]}.#{number[2..4]}.#{number[5..7]}/#{number[8..11]}-#{number[12..-1]}" %></td>
        <td><%= company.address.full_address %></td>
      </tr>
    <% end %>

  </table>
<% end %>
