<div id='page_title', align='center'>
  <h1><%= @shipping_company.brand_name %></h1>
</div>

<section id='company_details'>
  <div id='details_list', align='center'>
    <dl>
      <dt><strong>Nome fantasia: </strong></dt>
      <dd><%= @shipping_company.brand_name %></dd>

      <dt><strong>Razão social: </strong></dt>
      <dd><%= @shipping_company.corporate_name %></dd>

      <% number = @shipping_company.registration_number.to_s %>
      <dt><strong>CNPJ: </strong></dt>
      <dd><%= "#{number[0..1]}.#{number[2..4]}.#{number[5..7]}/#{number[8..11]}-#{number[12..-1]}" %></dd>

      <dt><strong>Domínio de e-mail: </strong></dt>
      <dd><%= @shipping_company.email_domain %></dd>

      <dt><strong>Endereço: </strong></dt>
      <dd><%= "#{@shipping_company.address} - #{@shipping_company.city}/#{@shipping_company.state}" %></dd>
    </dl>
  </div>
</section>

<section id='vehicles'>
  <div id ='vehicles_title', align='center'>
    <h2>Veículos cadastrados</h2>
  </div>

  <div id='vehicle_register_link', align='center'>
    <p><strong>
      <%= link_to 'Cadastrar veículo', new_shipping_company_vehicle_path(@shipping_company) %>
    </strong></p>
  </div>

  <% if @vehicles %>
    <table id='vehicles_table', align='center'>
      <tr id='table_header'>
        <th><strong>Placa de identificação</strong></th>
        <th><strong>Modelo</strong></th>
        <th><strong>Marca</strong></th>
        <th><strong>Ano de produção</strong></th>
        <th><strong>Carga máxima</strong></th>
      </tr>

      <% @vehicles.each do |vehicle| %>
        <tr id=<%= vehicle.license_plate %>>
          <td><%= vehicle.license_plate %></td>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.brand %></td>
          <td><%= vehicle.production_year %></td>
          <td><%= "#{vehicle.maximum_load / 1000} kg" %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <p align='center'>Não existem veículos cadastrados.</p>
  <% end %>
</section>

<section id='prices'>
  <div id= prices_title', align='center'>
    <h2>Tabela de preços</h2>
  </div>

  <div id='volume_range_register_link', align='center'>
    <p><strong>
      <%= link_to('Cadastrar intervalo de volume',
                  new_shipping_company_volume_range_path(@shipping_company)) %>
    </strong></p>
  </div>

  <% if @volume_ranges %>
    <table id='prices_table', align='center'>
      <tr id='table_header'>
        <th>Volume</th>
        <th>Peso</th>
        <th>Valor por km</th>
      </tr>

      <% @volume_ranges.each do |vrange| %>
        <% first_wrange = vrange.weight_ranges.first %>

        <tr id=<%= "#{vrange.min_volume}_#{vrange.max_volume}_1" %>>
          <td rowspan=<%= vrange.weight_ranges.length %>>
            <%= "#{vrange.min_volume}-#{vrange.max_volume} m3" %>
          </td>
          <td>
            <%= "#{first_wrange.min_weight}-#{first_wrange.max_weight} kg" %>
          </td>
          <td>
            <%= number_to_currency(first_wrange.value / 100.to_f, separator: ',', delimiter: '.', unit: 'R$') %>
          </td>
        </tr>

        <% vrange.weight_ranges[1..].each.with_index do |wrange, index| %>
          <tr id=<%= "#{vrange.min_volume}_#{vrange.max_volume}_#{index + 2}" %>>
            <td>
              <%= "#{wrange.min_weight}-#{wrange.max_weight} kg" %>
            </td>
            <td>
              <%= number_to_currency(wrange.value / 100.to_f, separator: ',', delimiter: '.', unit: 'R$') %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  <% else %>
    <p align='center'>Não existem intervalos de volume cadastrados.</p>
  <% end %>
</section>

<div id ='back_link', align='center'>
  <strong><%= link_to 'Voltar', shipping_companies_path %></strong>
</div>
