<div align='center'>
  <h1>Consulta de preços de transporte</h1>
</div>

<%= form_with model: @budget_search do |form| %>
  <div align='center'>
    <p><strong>Dimensões do item (em centímetros):</strong><p>

    <p><strong><%= form.label :height %></strong>
    <%= form.number_field :height %>
    <%= @budget_search.errors.full_messages_for(:height).first if @budget_search.errors %></p>

    <p><strong><%= form.label :width %></strong>
    <%= form.number_field :width %>
    <%= @budget_search.errors.full_messages_for(:width).first if @budget_search.errors %></p>

    <p><strong><%= form.label :depth %></strong>
    <%= form.number_field :depth %>
    <%= @budget_search.errors.full_messages_for(:depth).first if @budget_search.errors %></p>
  </div><br>

  <div align='center'>
    <p><strong><%= form.label :weight, 'Peso do item (em quilogramas)' %></strong>
    <%= form.number_field :weight %>
    <%= @budget_search.errors.full_messages_for(:weight).first if @budget_search.errors %></p>
  </div>

  <div align='center'>
    <p><strong><%= form.label :distance, 'Distância a percorrer (em quilômetros)' %></strong>
    <%= form.number_field :distance %>
    <%= @budget_search.errors.full_messages_for(:distance).first if @budget_search.errors %></p>
  </div>

  <div align='center'>
    <%= form.submit 'Consultar' %>
  </div>
<% end %>
