<h1 align='center'><%= "Busca no. #{@search.id} (#{I18n.l(@search.created_at.to_date)})" %></h1>

<div align='center'>
  <dl>
    <dt>Realizada por:</dt>
    <dd><%= @search.admin.email %></dd>

    <dt>Volume:</dt>
    <dd><%= @volume %> m³</dd>

    <dt>Peso:</dt>
    <dd><%= @weight %> kg</dd>

    <dt>Distância a percorrer:</dt>
    <dd><%= @distance %> km</dd>
  </dl>
</div>

<% if @company_info.empty? %>
  <p>Não foram encontradas transportadoras para esse pedido.</p>

<% else %>
  <table id='search_details', align='center'>
    <tr id='table_header'>
      <th align='left'>Transportadora</th>
      <th align='left'>Valor</th>
      <th align='left'>Prazo</th>
    </tr>

    <% @company_info.each_pair do |company, info| %>
      <tr id=<%= company.brand_name.gsub(/\s/, '_').downcase %>>
        <td><%= company.brand_name %></td>
        <td><%= number_to_currency(info[:value], separator: ',', delimiter: '.', unit: 'R$') %></td>
        <td><%= info[:delivery_time] %> dias</td>
        <td>
          <%= link_to'Enviar pedido', new_order_path(shipping_company_id: company.id, volume: @volume,
                                                     weight: @weight, distance: @distance,
                                                     value: info[:value],
                                                     estimated_delivery_time: info[:delivery_time]) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
