<h1 align='center'><%= "Busca no. #{@search.id} (#{I18n.l(@search.created_at.to_date)})" %></h1>

<div align='center'>
  <dl>
    <dt>Realizada por:</dt>
    <dd><%= @search.admin.email %></dd>

    <dt>Volume:</dt>
    <dd><%= @search.volume %> m³</dd>

    <dt>Peso:</dt>
    <dd><%= @search.weight %> kg</dd>

    <dt>Distância a percorrer:</dt>
    <dd><%= @search.distance %> km</dd>
  </dl>
</div>

<% if @prices_and_times.empty? %>
  <p>Não foram encontradas transportadoras para esse pedido.</p>

<% else %>
  <table id='search_details', align='center'>
    <tr id='table_header'>
      <th align='left'>Transportadora</th>
      <th align='left'>Valor</th>
      <th align='left'>Prazo</th>
    </tr>

    <% @prices_and_times.each_pair do |company, price_and_time| %>
      <tr id=<%= company.brand_name.gsub(/\s/, '_').downcase %>>
        <td><%= company.brand_name %></td>
        <td><%= number_to_currency(price_and_time[0] / 100, separator: ',', delimiter: '.', unit: 'R$') %></td>
        <td><%= price_and_time[1] %> dias</td>
      </tr>
    <% end %>
  </table>
<% end %>

<div align='center'>
  <%= form_with url: new_order_path, method: :get do |form| %>
    <%= form.hidden_field :search_id, value: @search.id %>

    <%= form.label :shipping_company_id, 'Enviar pedido para a transportadora' %>
    <%= form.collection_select :shipping_company_id, @shipping_companies, :id, :brand_name, include_blank: true %>
    <%= form.submit 'Enviar' %>
  <% end %>
</div>