<div align='center'>
  <h1>Pedido <%= @order.code %></h1>
  
  <dl>
    <dt>Transportadora:</dt>
    <dd><%= @order.shipping_company.corporate_name %></dd>

    <dt>Veículo responsável:</dt>
    <dd><%= "#{@order.vehicle.license_plate} (#{@order.vehicle.brand} #{@order.vehicle.model})" %></dd>

    <dt>Endereço de retirada:</dt>
    <dd><%= "#{@order.pickup_address} - #{@order.pickup_city}/#{@order.pickup_state})" %></dd>

    <dt>Endereço de entrega:</dt>
    <dd><%= "#{@order.delivery_address} - #{@order.delivery_city}/#{@order.delivery_state})" %></dd>

    <h2>Atualizações de trajeto:</h2>

    <% @order.route_updates.each do |update| %>
      <dt><%= I18n.l(update.date_and_time) %>:</dt>
      <dd><%= "Latitude #{update.latitude}, Longitude #{update.longitude}" %></dd>
    <% end %>
    
  </dl>
</div>