<h1 align='center'>Pedido <%= @order.code %></h1>
<h2 align='center'>Transportadora: <%= @order.shipping_company.corporate_name %></h2>

<div id='order_details', align='center'>
  <dl>
    <dt>Volume:</dt>
    <dd><%= @order.volume %> m³</dd>

    <dt>Peso:</dt>
    <dd><%= @order.weight %> kg</dd>

    <dt>Distância a percorrer:</dt>
    <dd><%= @order.distance %> km</dd>

    <dt>Endereço de retirada:</dt>
    <dd><%= "#{@order.pickup_address} - #{@order.pickup_city}/#{@order.pickup_state}" %></dd>

    <dt>Endereço de entrega:</dt>
    <dd><%= "#{@order.delivery_address} - #{@order.delivery_city}/#{@order.delivery_state}" %></dd>

    <dt>Destinado a:</dt>
    <dd><%= @order.recipient_name %></dd>

    <dt>Código do produto:</dt>
    <dd><%= @order.product_code %></dd>

    <dt>Tempo de entrega previsto:</dt>
    <dd><%= @order.estimated_delivery_time %> dias</dd>

    <dt>Valor:</dt>
    <dd><%= number_to_currency(@order.value, separator: ',', delimiter: '.', unit: 'R$') %></dd>

    <dt>Status:</dt>
    <dd><%= t(@order.status) %></dd>

    <% if @order.accepted? || @order.finished? %>
      <dt>Veículo responsável:</dt>
      <dd><%= @order.vehicle.license_plate %></dd>
    <% end %>
  </dl>
</div>


<div align='center'>
  <% if @order.pending? %>
    <%= form_with url: accepted_order_path(@order), method: :post do |form| %>
      <%= form.label :vehicle_id, 'Veículo responsável' %>
      <%= form.collection_select(:vehicle_id, @order.shipping_company.vehicles, 
                                :id, :license_plate, include_blank: true) %>
      <%= form.submit 'Aceitar pedido' %>
    <% end %>

    <%= button_to 'Rejeitar pedido', rejected_order_path(@order) %>

  <% elsif @order.accepted? %>
    <% unless @route_updates.empty? %>
      <h3>Rota de entrega:</h3>

      <table id='route'>
        <tr id='table_header'>
          <th>Data e hora</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>

        <% @route_updates.each_with_index do |route_update, index| %>
          <tr id=<%= "update_#{index + 1}" %>>
            <td><%= I18n.l(route_update.date_and_time) %></td>
            <td><%= route_update.latitude %></td>
            <td><%= route_update.longitude %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    
    <div id='route_update'>
      <%= form_with model: [@order, @route_update] do |form| %>
        <%= form.label :latitude %>
        <%= form.number_field :latitude, step: :any %>
        <%= @route_update.errors.full_messages_for(:latitude).first if @route_update.errors %></p>

        <%= form.label :longitude %>
        <%= form.number_field :longitude, step: :any %>
        <%= @route_update.errors.full_messages_for(:longitude).first if @route_update.errors %></p>

        <%= form.label :date_and_time %>
        <%= form.datetime_field :date_and_time %>
        <%= @route_update.errors.full_messages_for(:date_and_time).first if @route_update.errors %></p>

        <%= form.submit 'Atualizar rota de entrega' %>
      <% end %>
    </div>

    <%= button_to 'Finalizar pedido', finished_order_path(@order) %>
  <% end %>
</div>
