<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1 align='center'>SISTEMA DE GERENCIAMENTO DE ENTREGAS</h1>
      <nav>
        <p align='center'>
          <strong><%= link_to 'Início', root_path %></strong> | 
          <strong><%= link_to 'Transportadoras', shipping_companies_path %></strong>
        </p>
      </nav>
    </header>
    <main>
      <div id='flash_messages', align='center'>
        <strong><%= alert %></strong>
        <strong><%= notice %></strong>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
